@use "../abstracts/index" as *;

* {
  box-sizing: border-box;
  font-family: $p-font ;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
