@use "../abstracts/index" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0 0 1em 0;
}


@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-medium.eot');
    src: url('../../assets/fonts/SpaceGrotesk-medium.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/SpaceGrotesk-medium.woff2') format('woff2'),
         url('../../assets/fonts/SpaceGrotesk-medium.woff') format('woff'),
         url('../../assets/fonts/SpaceGrotesk-medium.ttf') format('truetype'),
         url('../../assets/fonts/SpaceGrotesk-medium.svg#SpaceGrotesk-Light') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Space Grotesk';
    src: url('../../assets/fonts/SpaceGrotesk-bold.eot');
    src: url('../../assets/fonts/SpaceGrotesk-bold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/SpaceGrotesk-bold.woff2') format('woff2'),
         url('../../assets/fonts/SpaceGrotesk-bold.woff') format('woff'),
         url('../../assets/fonts/SpaceGrotesk-bold.ttf') format('truetype'),
         url('../../assets/fonts/SpaceGrotesk-bold.svg#SpaceGrotesk-Light') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



// ICONOS

@font-face {
  font-family: 'icomoon';
  src:  url('../../assets/fonts/icomoon.eot?d8zjkb');
  src:  url('../../assets/fonts/icomoon.eot?d8zjkb#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icomoon.ttf?d8zjkb') format('truetype'),
    url('../../assets/fonts/icomoon.woff?d8zjkb') format('woff'),
    url('../../assets/fonts/icomoon.svg?d8zjkb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-frontend:before {
  content: "\e900";
  
}
.icon-icon-gh:before {
  content: "\e901";
 
}
.icon-icon-linkedIn:before {
  content: "\e902";
  
}
.icon-icon-twiter:before {
  content: "\e903";
  
}
