@use "variables" as *;


// RESPONSIVE BREAK-POINTS

@mixin breakpoint($bp) {

    @if $bp == tablet{
        @media (min-width: $bp-tablet){
            @content;
        }
    }

    @if $bp == tablethorizontal{
        @media (min-width: $bp-tablet-horizontal){
            @content;
        }
    }

    @if $bp == desktop{
        @media (min-width: $bp-desktop){
            @content;
        }
    }

    @if $bp == desktopm{
        @media (min-width: $bp-desktop-m){
            @content;
        }
    }
    @if $bp == desktopl{
        @media (min-width: $bp-desktop-l){
            @content;
        }
    }

    @if $bp == desktopxl{
        @media (min-width: $bp-desktop-xl){
            @content;
        }
    }
}

@mixin font-variant($size) {

  //  MOBILE 
  @if $size == xl {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.14px;
  }

  @else if $size == l {
    font-size: 32px;
    line-height: 36px;
  }

  @else if $size == m {
    font-size: 24px;
    line-height: 28px;
  }

  @else if $size == s {
    font-size: 18px;
    line-height: 24px;
  }

  //  TABLET 
  @media (min-width: $bp-tablet) {
    @if $size == xl {
      font-size: calc(#{$xl-font} - 16px);
      line-height: calc(#{$xl-line} - 16px);
      letter-spacing:calc(#{$xl-spacing} + 0.45px) ;
    }

    @else if $size == l {
      font-size: calc(#{$l-font} );
      line-height: calc(#{$l-line} );
      letter-spacing:calc(#{$l-spacing}) ;
    }

    @else if $size == m {
      font-size: calc(#{$s-font} - 4px);
      line-height: calc(#{$s-line} );
    }

    @else if $size == s {
      font-size: calc(#{$s-font} - 10px);
      line-height: calc(#{$s-line} );
    }
  }

  //  DESKTOP 
  @media (min-width: $bp-desktop) {
    @if $size == xl {
      font-size: calc(#{$xl-font} - 1px);
      line-height: calc(#{$xl-line} - 1px);
      letter-spacing:calc(#{$xl-spacing} + 0.45px) ;
    }

    @else if $size == l {
      font-size: calc(#{$l-font} );
      line-height: calc(#{$l-line} );
      letter-spacing:calc(#{$l-spacing}) ;
    }

    @else if $size == m {
      font-size: calc(#{$s-font} - 4px);
      line-height: calc(#{$s-line} );
    }

    @else if $size == s {
      font-size: calc(#{$s-font} - 7px);
      line-height: calc(#{$s-line} );
    }
  }
}

@mixin btn{
  border-bottom: 2px solid $btn-color;
  padding-bottom: 10px;
  color: $white-color;
  @include font-variant(s);
  letter-spacing: 2.26px;
  &:hover{
    color: $btn-color;
  }

 

}