// Devices sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;


// Colors

$bg-color: #151515;
$btn-color: #4EE1A0;
$gray-color: #242424;
$lightgray-color:#979797;
$bone-color: #D9D9D9;
$white-color: #FFFFFF;

//font family
$p-font: "Space Grotesk" ,Courier , monospace ;


// Font sizes
$xl-font: 88px;
$l-font: 58px;
$m-font: 32px;
$s-font: 28px;

// Line heights
$xl-line: 88px;
$l-line: 58px;
$m-line: 32px;
$s-line: 28px;

// Letter spacing
$xl-spacing: -2.5px;
$l-spacing: -1.5px;
