@use "../abstracts/index" as *;


div.main__container{
  width: 100%;
  max-width: 375px;      
  margin-left: auto;     
  margin-right: auto;    
  padding-left: 16px;    
  padding-right: 16px;

  @include breakpoint(tablet){
    width: 100%;
    max-width: 768px;      
    margin-left: auto;     
    margin-right: auto;    
    padding-left: 1.875rem;    
    padding-right: 1.875rem;

  }
  @include breakpoint(desktop){
    width: 100%;
    max-width: 1440px;      
    margin-left: auto;     
    margin-right: auto;    
    padding-left: 10.3125rem;    
    padding-right: 10.3125rem;

  }
}