@use "../abstracts/index" as *;

footer {
  
  text-align: center;
  background-color: $gray-color;

  
  .form{
    padding-top: 3.75rem;

    @include breakpoint(tablet){
      max-width: 62%;
      margin: auto ;
    }
    @include breakpoint(desktop){
      max-width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 220px;
      padding-top: 5.25rem;
    }


    div{    //FORM TITLE & DESCRIP
      margin-bottom: 3.125rem;
      @include breakpoint(desktop){
        text-align: start;
      }
      
      h2{
        @include font-variant(l);
        color: white;
        font-weight: bold;
        margin-bottom: 1.25rem;
        @include breakpoint(desktop){
         @include font-variant(xl)
        }
      }

      p{
        @include font-variant(s);
        color: $lightgray-color;
        margin-bottom: 0;

        @include breakpoint(desktop){
         font-size: 1.16rem;
        }
      }
    }

    form{
      padding-bottom: 5.5rem;
      border-bottom: 2px solid $lightgray-color;
      @include breakpoint(tablet){
        border-bottom: none;
      }
      
      input{
        background-color: $gray-color; 
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        outline: none;
        font: inherit;     
        color: inherit;    
        box-sizing: border-box;
        border-bottom: 2px solid $lightgray-color;
        color: $lightgray-color;
        display: block;
        padding-left: 1.5rem ;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        width: 100%;

        &:last-of-type{
          padding-bottom: 5rem;
        }

        @include breakpoint(desktop){
          position: relative;
          
          &:not(:placeholder-shown) {
            border-bottom: 2px solid $btn-color;
          }

          &[type="email"]:valid {
            border-bottom: 2px solid $btn-color;
          }

          &[type="email"]:not(:placeholder-shown):invalid {
            border-bottom: 2px solid red;
            
          }

        }
      }
      button{
        @include btn;
        background-color: $gray-color; 
        border-top: none;
        border-right: none;
        border-left: none;
        background: none;
        outline: none;
        font: inherit;     
        color: inherit;    
        box-sizing: border-box;
        color: $white-color;
        display: block;
        margin-left: auto;

      }
    }
  }
  
  .footer__nav{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2.5rem;
  padding-bottom: 5rem;
  @include breakpoint(tablet){
    position: static;
    transform: none;
    width: 100%;
    max-width: 768px;      
    margin-left: auto;     
    margin-right: auto;    
    padding-left: 1.875rem;    
    padding-right: 1.875rem;
    padding-bottom: 2.5rem;
    margin-top: 0;
    
    

  }

  @include breakpoint(desktop){
    position: static;
    transform: none;
    width: 100%;
    max-width: 1440px;      
    margin-left: auto;     
    margin-right: auto;    
    padding-left: 10.3125rem;    
    padding-right: 10.3125rem;
    padding-bottom: 2.5rem;
    margin-top: 0;
    
    

  }
  
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.3333vw;

    @include breakpoint(tablet){
      flex-direction: row;
      justify-content: space-between;
      border-top: 2px solid $lightgray-color;
      padding-top: 2.5rem;
      margin-top: 0;
      

      & a.logo img{
        width: 11rem;  
      }
    }

    ul{
      display: flex;
      gap: 25.6px;

      li a{
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }

      @include breakpoint(tablet){
        li a span{
          font-size: 1.5rem;
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }
      }
      @include breakpoint(desktop){
        font-size: 1.5rem;
        li a{
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }
      }
    }
  } 
    
  }
}
