@use "../abstracts/index" as *;



header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  @include breakpoint(tablet){
    position: static;
    transform: none;
    
  }
  
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.3333vw;

    @include breakpoint(tablet){
      flex-direction: row;
      justify-content: space-between;

      & a.logo img{
        width: 11rem;  
      }
    }

    

    ul{
      display: flex;
      gap: 25.6px;

      li a{
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }
      @include breakpoint(tablet){
        li a {
          font-size: 1.5rem;
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }

      }

      @include breakpoint(desktop){
        padding-right: 1.875rem;
        font-size: 1.5rem;
        position: relative;
        z-index: 2;

        li a{
          color: $white-color;
        }
        li a:hover{
          color: $btn-color;
        }
        
        
        
      }
    }
  }
}


