@use "../abstracts/index" as *;



header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  @include breakpoint(tablet){
    position: static;
    transform: none;
    
  }
  
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5.3333vw;

    @include breakpoint(tablet){
      flex-direction: row;
      justify-content: space-between;

      & a.logo img{
        width: 11rem;  
      }
    }

    

    ul{
      display: flex;
      gap: 25.6px;
      @include breakpoint(tablet){
        li a img{
          width: 1.55rem;
        }

      }
      @include breakpoint(desktop){
        padding-right: 1.875rem;
      }
    }
  }
}


