@use "../abstracts/index" as *;

// HERO STYLES
section.hero{
    margin-bottom: 5rem;
    @include breakpoint(tablet){
        max-width: 58vw;
        margin-bottom: 4.5rem;
        
        
    }
    @include breakpoint(desktop){
        max-width: 58vw;
        margin-bottom: 13rem;
        
        
    }
    

    figure{
        margin: 0;
        display: flex;
        @include breakpoint(tablet){
            position: absolute;
            top: -6.875rem;
            right: 0;
        }
        @include breakpoint(desktop){
            position: absolute;
            top: 0;
            right: 10rem;
            overflow: hidden;
            height: 720px;
            
            
      
        }
        
        img{
            max-width: 46.5vw;
            margin-left: auto;
            margin-right: auto;
            @include breakpoint(tablet){
                max-width: 42vw;

            }
            @include breakpoint(desktop){
                width: 30.95vw;
                
                height: 100%;
                object-fit: cover;    
                object-position: 70% 80%;

            }
        }
    } 

   h1{
        @include font-variant(xl);
        color: $white-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.5rem;

        @include breakpoint(tablet){
            margin-top: 5.625rem ;
            text-align: start;
            @include font-variant(xl);
            position: relative;
            z-index: 3;
            margin-bottom: 3.75rem;
        
            span.salto{
                display: block;
            }  
        }
        @include breakpoint(desktop){
            margin-top: 7.9375rem;
            margin-bottom: 2.75rem;
            span.salto{
                display: inline;
            }
        }

        span.underline{
            text-decoration: underline;
            text-decoration-color: $btn-color;
            text-underline-offset: 8px ;
            @include breakpoint(tablet){
                text-underline-offset: 14px ;
            }
            @include breakpoint(desktop){
                text-underline-offset: 18px ;
            }

             
        }
   }

   p{
        @include font-variant(s);
        color: $bone-color;
        text-align: center;
        font-size: 16px;
        margin-bottom: 1.5rem;
        @include breakpoint(tablet){
            text-align: start;
            @include font-variant(s);
            margin-bottom: 2.125rem;
            
        }
        @include breakpoint(desktop){
            text-align: start;
            @include font-variant(s);
            margin-bottom: 4.125rem;
            max-width: 60%;
            
            
        }
   }
    
   a.btn{
        @include btn;
        display: block;   
        width: fit-content; 
        margin: 0 auto; 
        @include breakpoint(tablet){
            margin: auto 0; 
        }  
   }
}


//TECNOLOGIES STYLES


.technologies{
    border-top: 1px solid $lightgray-color;
    border-bottom: 1px solid $lightgray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
        border-bottom: none;
        padding-bottom: 1.25rem;
    }

    @include breakpoint(desktop){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 4.5rem;
        padding-bottom: 3.25rem;
        border-bottom: none;
        padding-bottom: 1.25rem;
    }
    
    article{
        text-align: center;
        color: $white-color;
        margin-bottom: 1.5rem;
        @include breakpoint(tablet){
            text-align: start;
            margin-bottom: 2rem;
           
        }

        h2{
            @include font-variant(l);
            font-weight: 600;
            color: $white-color;
            @include breakpoint(tablet){
                margin-bottom: 0.875rem;
            }

            @include breakpoint(desktop){
                margin-bottom: 0.875rem;
            }
            
        }

        p{
            @include font-variant(s);
            font-weight: 400;
            color: $bone-color;
            @include breakpoint(tablet){
                
            }
            
            

        }
    }
}