@use "../abstracts/index" as *;

// HERO STYLES
section.hero{
    margin-bottom: 5rem;
    

    figure{
        margin: 0;
        display: flex;
        
        img{
            max-width: 46.5vw;
            margin-left: auto;
            margin-right: auto;
        }
    } 

   h1{
        @include font-variant(xl);
        color: $white-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 1.5rem;

        span{
            text-decoration: underline;
            text-decoration-color: $btn-color;
            text-underline-offset: 8px ;
             
        }
   }

   p{
        @include font-variant(s);
        color: $bone-color;
        text-align: center;
        font-size: 16px;
        margin-bottom: 1.5rem
   }
    
   a.btn{
        @include btn;
        display: block;   
        width: fit-content; 
        margin: 0 auto; 
        
     
   }
}


//TECNOLOGIES STYLES


.technologies{
    border-top: 1px solid $lightgray-color;
    border-bottom: 1px solid $lightgray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
    
    article{
        text-align: center;
        color: $white-color;
        margin-bottom: 1.5rem;

        h2{
            @include font-variant(l);
            font-weight: 600;
            color: $white-color;
            
        }

        p{
            @include font-variant(s);
            font-weight: 400;
            color: $bone-color;
            

        }
    }
}