@use "../abstracts/index" as *;

.projects{

  @include breakpoint(tablet){
    .grid__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.375rem;
    margin-bottom: 3.75rem;
  }
  }
  

  .projects__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    @include breakpoint(tablet){
      align-items: center;
    }

    @include breakpoint(desktop){
      align-items: center;
      margin-bottom: 5rem ;
    }
    
    h2{
      @include font-variant(xl);
      color: white;
      font-weight: 600;
    }

    .btn{
      @include btn;
      
    }
  }

  article{
    margin-bottom: 2.5rem;
    img{
      display: block;   
      max-width: 100%;      
      height: auto; 
      margin-bottom: 1.25rem;
      @include breakpoint(desktop){
        &:hover{
          filter: brightness(44%);
        }
        &:hover ~ div.buttons{
          opacity: 1;
          z-index: 2;
            
        }
        
      }
    }
    h3{
      @include font-variant(m);
      color: $white-color;
      margin-bottom: 0.5rem;
    }
    .tech{
      display: flex;
      margin-bottom: 1.25rem;
      color: $bone-color;
      gap: 1rem;
      p{
        margin: 0;
      }
    }
    .buttons{
      display: flex;
      gap: 1.5rem;
      a{
        @include btn;
        font-size:1rem;
      }

      @include breakpoint(desktop){
        display: flex;
        flex-direction: column;
        width: fit-content ;
        position: relative;
        z-index: 2;
        bottom: 60%;
        left: 36.66%;
        opacity: 0;

      }
    }
  }

}
